:root{
  --animation-default : all 1s ease-in;
  font-size: 30px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}

body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: var(--animation-default)
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--animation-default);
}

#quote-box{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;  
  background-color: white;
  width: 80%;
  max-width: 600px;
}
#text {
  text-align: center;
  transition: var(--animation-default);
}
#author{
  text-align: end;
  transition: var(--animation-default);
}
.fade{
  animation: 2s ease-out fade 1;
}
.repeat-fade{
  animation: 2s ease-out rfade 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#tweet-quote{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: var(--animation-default);
}

i{
  color: white;
}

#new-quote{
  font-size: 15px;
  border: none;
  padding: 5px 20px 5px 20px;
  transition: var(--animation-default);
  color : white;
}

.container{
  display: flex;
  justify-content: space-between;
}

